* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 15px;
	font-family: calibri;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-wrap: wrap;
}

#map {
	width: 100%;
	height: calc(100% - 70px);
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.search-div {
	background-color: #EF3E3E;
	width: 100%;
	height: 35px;
	border-bottom: 1px solid white;
	display: flex;
	flex-wrap: wrap;
}

.drawer, .weather {
	height: 25px;
	margin: 5px;
	width: 50px;
	font-size: 12px;
	color: white;
	background-color: #EF3E3E;
	border: 1px solid white;
}

#search-input, #city {
	height: 25px;
	margin: 5px;
	padding: 0 5px 0 5px;
	width: calc(100% - 55px);
}

.form, #city-search {
	margin: 0;
	padding: 0;
	width: calc(100% - 60px);
}

.go {
	border: 1px solid white;
	height: 25px;
	width: 30px;
	margin: 5px;
	background-color: #EF3E3E;
	color: white;, 
}

.results-div {
	background-color: #EF3E3E;
	width: 200px;
	padding: 5px;
	display: none;
	position: fixed;
	top: 70px;
	left: 0;
	z-index: 2;
	height: 50%;
	overflow-y: scroll;
}

.result-element {
	color: white;
	border-bottom: 1px solid white;
	padding: 5px 0 5px 5px;
	font-size: 13px;
}

.close-results {
	width: 100%;
	background-color: #EF3E3E;
	color: white;
	border: 1px solid white;
}

.close-results:hover, .result-element:hover, .drawer:hover, .go:hover {
	cursor: pointer;
	background-color: white;
	color: #EF3E3E;
}

.iwTitle {
	border: 1px solid red;
	width: 180px;
	text-align: center;
	background-color: #EF3E3E;
	color: white;
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
	margin: 5px 0 5px 0;
}

.iwAddress, .iwPhone, .iwRating {
	font-size: 13px;
}

.iwGoogle {
	font-size: 13px;
	color: #EF3E3E;
}

.iwImage {
	margin-top: 5px;
	position: relative;
	left: 50px;
	width:80px;
}

.credits {
	background-color: white;
	color: #EF3E3E;
	position: fixed;
	font-size: 11px;
	top: calc(100% - 26px);
	right:45px;
}

.no-results, .new-city {
	color: white;
	font-size: 13px;
	display: none;
}

@media screen and (min-width: 550px) {
	.form {
		width: 100%;
	}
	.search-input {
		width: calc(100% - 55px);
	}
	.results-div {
		display: block !important;
		width: 150px;
		position: static;
		height: 50%;
		overflow-y: scroll;
	}
	#map {
		position: static;
		width: calc(100% - 150px);
	}
	.drawer {
		display: none;
	}
	.close-results {
		display: none;
	}
	.iwTitle, .iwAddress, .iwUrl {
		font-size: 14px;
	}
	.iwImage {
		width: 100px;
		left: 40px;
	}

@media screen and (min-width: 800px) {
	* {
		font-size: 18px;
	}
	.search-div {
		height: 40px;
	}
	.search-input {
		height: 30px;
	}
	.results-div {
		display: block;
		width: 250px;
		height: 50%;
		overflow-y: scroll;
	}
	#map {
		width: calc(100% - 250px);
		height: calc(100% - 80px);
	}
	.iwImage {
		width: 110px;
		left: 35px;
	}
}

