* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 15px;
	font-family: calibri;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-wrap: wrap;
}

#map {
	width: 100%;
	height: calc(100% - 70px);
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.search-div {
	background-color: #EF3E3E;
	width: 100%;
	height: 35px;
	border-bottom: 1px solid white;
	display: flex;
	flex-wrap: wrap;
}

.drawer, .weather {
	height: 25px;
	margin: 5px;
	width: 50px;
	font-size: 12px;
	color: white;
	background-color: #EF3E3E;
	border: 1px solid white;
}

#search-input, #city {
	height: 25px;
	margin: 5px;
	padding: 0 5px 0 5px;
	width: calc(100% - 55px);
}

.form, #city-search {
	margin: 0;
	padding: 0;
	width: calc(100% - 60px);
}

.go {
	border: 1px solid white;
	height: 25px;
	width: 30px;
	margin: 5px;
	background-color: #EF3E3E;
	color: white;, 
}

.results-wiki-div {
	background-color: #EF3E3E;
	width: 200px;
	padding: 5px;
	display: none;
	position: fixed;
	top: 70px;
	left: 0;
	z-index: 2;
	height: calc(100% - 70px);
}

.results, .wiki {
	height: calc(50% - 50px);
	overflow-y: scroll;
}

.times-error {
	font-size: 14px;
	color: white;
}

.weather-error {
	font-size: 13px;
}

.filter {
	width: 100%;
	margin: 2px 0 2px 0;
	font-size: 12px;
	padding: 2.5px;
}

.result-element {
	color: white;
	border-bottom: 1px solid white;
	padding: 5px 0 5px 5px;
	font-size: 13px;
}

.news-link {
	text-decoration: none;
	color: white;
}

.news-headline {
	font-size: 13px;
}

.close-results {
	width: 100%;
	background-color: white;
	color: #EF3E3E;
	border: 1px solid white;
	margin-top: 5px;
}

.close-results:hover {
	background-color: #EF3E3E;
	color: white;
	cursor: pointer;
} 

.result-element:hover, .drawer:hover, .go:hover, .weather:hover, .news-link:hover {
	cursor: pointer;
	background-color: white;
	color: #EF3E3E;
}

.iwTitle {
	border: 1px solid red;
	width: 180px;
	text-align: center;
	background-color: #EF3E3E;
	color: white;
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
	margin: 5px 0 5px 0;
}

.iwAddress, .iwPhone, .iwRating {
	font-size: 13px;
}

.iwGoogle {
	font-size: 13px;
	color: #EF3E3E;
}

.iwImage {
	margin-top: 5px;
	position: relative;
	left: 50px;
	width:80px;
}

.credits {
	background-color: white;
	color: #EF3E3E;
	position: fixed;
	font-size: 11px;
	top: calc(100% - 26px);
	right:45px;
}

.no-results, .new-city {
	color: white;
	font-size: 13px;
}

.reset {
	position: fixed;
	padding: 6.5px;
	top: 80px;
	left: 120px;
	z-index: 1;
	font-size: 13px;
	font-weight: bold;
	background-color: white;
	color: #EF3E3E;
	border: none;
}

.weather-details {
	text-align: center;
	width: 260px;
	position: fixed;
	top:35px;
	left:0;
	display: none;
	background-color: black;
	opacity: 0.9;
	color: white;
	border: 1px solid white;
	padding: 15px;
	z-index: 2;
}

.weather-entry {
	font-size: 14px;
}

.close-weather {
	font-size: 14px;
	width: 100%;
	color: black;
	background-color: white;
	margin-top: 5px;
	border: none;
	padding: 2.5px;
}

.close-weather:hover {
	color: white;
	background-color: #EF3E3E;
	cursor: pointer;
	border: 1px solid white;
}

.weather-icon {
	width: 100px;
}

.weather-credits {
	font-size: 12px;
	color: white;
}

.results-header {
	background-color: #246868;
	color: white;
	font-size: 14px;
	padding: 2.5px;
	border: 1px solid #EF3E3E;
}

.results-error {
	color: white;
	font-size: 14px;
}

.iw-error {
	font-size: 14px;
	text-align: center;
}


@media screen and (min-width: 550px) {
	.form {
		width: 100%;
	}
	.search-input {
		width: calc(100% - 55px);
	}
	.results-wiki-div {
		display: block !important;
		width: 150px;
		position: static;
		height: calc(100% - 70px);
	}
	#map {
		position: static;
		width: calc(100% - 150px);
	}
	.drawer {
		display: none;
	}
	.close-results {
		display: none;
	}
	.results, .wiki {
		height: calc(50% - 36px);
		overflow-y: scroll;
	}
	.iwTitle, .iwAddress, .iwUrl {
		font-size: 14px;
	}
	.iwImage {
		width: 100px;
		left: 40px;
	}
	.reset {
		left: 250px;
	}
	.weather-details {
		z-index: 5;
	}

@media screen and (min-width: 800px) {
	* {
		font-size: 18px;
	}
	.search-div {
		height: 40px;
	}
	.search-input {
		height: 30px;
	}
	.results-wiki-div {
		display: block;
		width: 250px;
		max-height: calc(100% - 80px);
	}
	.results, .wiki {
		height: calc(50% - 36px);
		overflow-y: scroll;
	}
	#map {
		width: calc(100% - 250px);
		height: calc(100% - 80px);
	}
	.iwImage {
		width: 110px;
		left: 35px;
	}
	.reset {
		left: 350px;
		top: 90px;
	}
	.weather-details {
		z-index: 5;
	}
}

